@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./partials/common";

:root {
  --primary-color: #{$primary-color};
  --primary-light-color: #{$primary-light-color};
  --primary-dark-color: #{$primary-dark-color};
  --primary-subtle-color: #{$primary-subtle-color};

  --secondary-color: #{$secondary-color};
  --secondary-light-color: #{$secondary-light-color};
  --secondary-dark-color: #{$secondary-dark-color};
  --secondary-subtle-color: #{$secondary-subtle-color};

  --light-color: #{$light-color};
  --dark-color: #{$dark-color};

  --favorite-color: #{$favorite-color};

  --success-color: #{$success-color};
  --success-subtle-color: #{$success-subtle-color};

  --error-color: #{$error-color};
  --error-subtle-color: #{$error-subtle-color};


  --info-color: #{$info-color};
  --info-subtle-color: #{$info-subtle-color};


  --edit-color: #{$edit-color};
  --edit-subtle-color: #{$edit-subtle-color};


  --warning-color: #{$warning-color};
  --warning-subtle-color: #{$warning-subtle-color};

  --disabled-color: #{$disabled-color};

  --main-radius: #{$main-radius};

  --transition: #{$transition};

  --shadow-dark-color: #d3dae7;
  --box-shadow: 1rem 1rem 1rem var(--shadow-dark-color),
  -1rem -1rem 1rem var(--shadow-light-color);
  --bg-shadow-dark-color: #d3dae745;
  --icons-color: #4c5773;
  --main-bg-color: #ecf0f3;
  --icons-bg-color: #e2e6e9;
  
}

:has(main.light):root {
  --main-background: #{$light-main-background};
  --header-background: #{$light-header-background};
  --card-background: #{$light-card-background};
  --card-background-2: #{$light-card-background-2};
  --sidebar-background: #{$light-sidebar-background};
  --main-card-background: #{$light-main-card-background};
  --profile-before-background: #{$light-profile-before-background};

  --border-color: #{$light-border-color};
  --scrollbar-thumb-color: #{$light-scrollbar-thumb-color};

  --title-color: #{$light-title-color};
  --sub-title-color: #{$light-sub-title-color};

  --text-color: #{$light-text-color};
  --sub-text-color: #{$light-sub-text-color};

  --sidebar-title-color: #{$light-sidebar-title-color};

  --header-shadow: #{$light-header-shadow};
  --card-shadow: #{$light-card-shadow};
}

:has(main.dark):root {
  --main-background: #{$dark-main-background};
  --header-background: #{$dark-header-background};
  --card-background: #{$dark-card-background};
  --card-background-2: #{$dark-card-background-2};
  --sidebar-background: #{$dark-sidebar-background};
  --main-card-background: #{$dark-main-card-background};
  --profile-before-background: #{$dark-profile-before-background};

  --border-color: #{$dark-border-color};
  --scrollbar-thumb-color: #{$dark-scrollbar-thumb-color};

  --title-color: #{$dark-title-color};
  --sub-title-color: #{$dark-sub-title-color};

  --text-color: #{$dark-text-color};
  --sub-text-color: #{$dark-sub-text-color};

  --sidebar-title-color: #{$dark-sidebar-title-color};

  --header-shadow: #{$dark-header-shadow};
  --card-shadow: #{$dark-card-shadow};
}

body {
  @apply bg-gradient-to-r from-purple-700 to-slate-900 font-montserrat text-white
}

.pretitle {
  @apply font-alexBrush text-[42px] text-accent leading-none
}

.h2 {
  @apply text-[32px] xl:text-[38px] font-semibold leading-tight
}

.btn {
  @apply w-full rounded-full cursor-pointer transition-all flex justify-center items-center font-medium
}

.btn-sm {
  @apply w-[146px] h-[50px]
}

.btn-lg {
  @apply w-[160px] h-[54px]
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent-hover
}

.btn-white {
  @apply bg-white text-primary hover:bg-white/80
}

.section {
  @apply py-12 xl:py-24
}


@keyframes bounce2 {

  0%,
  100% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(100%);
  }
}

.animate-bounce2 {
  animation: bounce2 3s infinite;
}

@keyframes bounce3 {

  0%,
  100% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }
}

.animate-bounce3 {
  animation: bounce3 5s infinite;
}

@keyframes bounce4 {

  100%,
  0% {
    transform: translateX(200%);
  }

  50% {
    transform: translateX(-200%);
  }
}

.animate-bounce4 {
  animation: bounce4 10s infinite;
}

@keyframes bounceimg {

  0%,
  100% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(20%);
  }
}

.animate-bounce-img {
  animation: bounceimg 10s infinite;
}

.circle-blur::before {
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
}

.backdrop-bg {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30%;
  background: linear-gradient(268deg, #0d152a 0%, #0c172c00 100%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;
}

.aside {
  transition: all 0.5s ease-in-out;
  overflow: clip;
  height: 100%;
  position: relative;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #6493d0;
  border-radius: 26px;
  background: none !important;
  padding: 50px 18px;

  &::before {
    content: '';
    background: linear-gradient(180deg, #000e1f 0%, #0c2a50 100%);
    opacity: 0.62;
    position: absolute;
    inset: 0;
    z-index: -10;
  }

}